checkpoints/backbone.pth
checkpoints/medium_model15.00combined_celeb_ytfacesresnet50139979True1e-05-2-BFMmm-23660UNL_STORED.pth
checkpoints/sep_modelv3SP15.00combined_celeb_ytfacesresnet501e-052True139979_V2.pth
models/checkpoints/resnet50-0676ba61.pth
data/BFMmm-23660/AL_60.dat
data/BFMmm-23660/AL_full.dat
data/BFMmm-23660/IX.dat
data/BFMmm-23660/IY.dat
data/BFMmm-23660/IZ.dat
data/BFMmm-23660/li.dat
data/BFMmm-23660/p0L_mat.dat
data/BFMmm-23660/sigma_alphas.dat
data/BFMmm-23660/sigma_betas.dat
data/BFMmm-23660/tex_mu.dat
data/BFMmm-23660/TEX.dat
data/BFMmm-23660/tl.dat
data/BFMmm-23660/X0_mean.dat
data/BFMmm-23660/Y0_mean.dat
data/BFMmm-23660/Z0_mean.dat
data/BFMmm-23660/E/EL_79.dat
data/BFMmm-23660/E/EX_79.dat
data/BFMmm-23660/E/EY_79.dat
data/BFMmm-23660/E/EZ_79.dat
data/BFMmm-23660/E/sigma_epsilons_79_lowerv2.dat
data/BFMmm-23660/E/sigma_epsilons_79_upperv2.dat
data/BFMmm-23660/point_buf.dat
data/raw/01_MorphableModel.mat
data/raw/Exp_Pca.bin

*.pyc
models/arcface_torch/*
testoutput/*
